<t4e-page-header
  backgroundImage="assets/pages/blog/header-bg.png"
  title="Blog"
  description="Encontra aqui informação, sugestões e partilha de boas práticas para te ajudar obter os melhores resultados. Iremos manter o nosso Blog sempre atualizado."
></t4e-page-header>
<div class="t4e-blog-page">
  <section class="search">
    <t4e-search
      placeholder="Pesquisar artigos"
      (onSearch)="$searchTerm.next($event)"
    ></t4e-search>
  </section>
  <section class="blog-articles-list" *ngIf="contentLoading">
    <content-loader
      width="315"
      height="280"
      *ngFor="let item of [1, 1, 1, 1, 1, 1]"
    >
      <svg:path d="M267.934 32.9754C264.53 13.895 247.937 0 228.555 0H40C17.9086 0 0 17.9086 0 40V240C0 262.091 17.9086 280 40 280H264.233C289.135 280 307.985 257.491 303.611 232.975L267.934 32.9754Z" fill="blue"/>
      <svg:path d="M267.934 32.9754C264.53 13.895 247.937 0 228.555 0H40C17.9086 0 0 17.9086 0 40V240C0 262.091 17.9086 280 40 280H264.233C289.135 280 307.985 257.491 303.611 232.975L267.934 32.9754Z" fill="red"/>
    </content-loader>
  </section>
  <section class="blog-articles-list" [@listAnimation]="blogArticlesList && blogArticlesList.length > 0">
    <ng-container *ngFor="let article of blogArticlesList">
      <t4e-blog-article-card [cardData]="article"></t4e-blog-article-card>
    </ng-container>
  </section>
  <ng-container *ngIf="currentResultCount < totalResultCount">
    <div class="current-results" *ngIf="blogArticlesList.length > 0">
      <button class="show-more-btn" (click)="handleShowMore()">
        <span>MOSTRAR MAIS</span>
        <i>
          <svg width="16" height="8" viewBox="0 0 16 8" fill="#5A98D0" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 0.999999L8 7L15 1" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </i>
      </button>
      <div class="content">
          A mostrar <strong>{{currentResultCount}}</strong> de <strong>{{totalResultCount}}</strong> items.
      </div>
    </div>
  </ng-container>
</div>
