<t4e-page-header
  isInnerPage="true"
  [backgroundImage]="getBackgroundHeader()"
  [title]="contentItem.title"
  backLabel="< VOLTAR PARA CONTEÚDOS"
  backUrl="/conteudo"
></t4e-page-header>
<section class="t4e-content-item">
  <div class="content__media-player" *ngIf="contentItem.videoUrl">
    <t4e-media-player
      [videoUrl]="contentItem.videoUrl"
      [videoPoster]="getVideoPoster()"
    ></t4e-media-player>
  </div>
  <div class="content__image" *ngIf="contentItem.imageUrl" [ngStyle]="{backgroundImage: 'url('+contentItem.imageUrl+')'}"></div>
  <div class="content__info">
    <div class="block" *ngFor="let block of contentInfoBlocks">
      <div class="block__title">{{block.title}}</div>
      <div class="block__value">{{block.value}}</div>
    </div>
  </div>
  <div class="content__text">
    <div class="title" *ngIf="contentItem.type === 'CONTENT-TUTORIAL-VIDEO'">DESCRITIVO</div>
    <div class="text" [innerHTML]="contentItem.text"></div>
  </div>
  <div class="content__tags">
    <div class="title">Tags</div>
    <div class="t4e-pills-list">
      <div class="pill-item"
           *ngIf="contentItem.provider"
           [routerLink]="['/conteudo']"
           [queryParams]="{provider: contentItem.provider.id}">
        {{contentItem.provider.title}}
      </div>
      <div class="pill-item"
           *ngIf="contentItem.stakeholder"
           [routerLink]="['/conteudo']"
           [queryParams]="{stakeholder: contentItem.stakeholder.id}">
        {{contentItem.stakeholder.title}}
      </div>
      <div class="pill-item"
           *ngIf="contentItem.tags && contentItem.tags[0]"
           [routerLink]="['/conteudo']"
           [queryParams]="{tag: contentItem.tags[0].id}">
        {{contentItem.tags[0].title}}
      </div>
    </div>
  </div>
</section>
