<div class="t4e-home-header">
  <div class="content-container">
    <div class="text-wrapper">
      <h1>Tools4Edu</h1>
      <p>É uma plataforma de apoio à Comunidade Educativa (Professores, Alunos e Pais/EE) que pretende facilitar a compreensão e utilização de ferramentas digitais no processo de ensino, no enquadramento da Covid19. Temos como missão ajudar a assegurar as interações e relações entre professores e alunos que contribuem para o seu desenvolvimento e bem-estar.</p>
    </div>
    <div class="image-wrapper">
      <img src="../../../assets/Logo-big.png" alt="Tools4Edu Logo">
    </div>
  </div>
  <div class="t4e-cta-container mobile">
    <div class="cta-item cta-item__professor">
      <img class="img" src="../../../assets/card/cta-professor.png" alt="">
      <img class="img mobile" src="../../../assets/card/cta-mobile-professor.png" alt="">
      <h3>SOU PROFESSOR</h3>
      <button>SABER MAIS →</button>
    </div>
    <div class="cta-item cta-item__aluno">
      <img class="img" src="../../../assets/card/cta-aluno.png" alt="">
      <img class="img mobile" src="../../../assets/card/cta-mobile-aluno.png" alt="">
      <h3>SOU ALUNO</h3>
      <button>SABER MAIS →</button>
    </div>
    <div class="cta-item cta-item__ee">
      <img class="img" src="../../../assets/card/cta-ee.png" alt="">
      <img class="img mobile" src="../../../assets/card/cta-mobile-ee.png" alt="">
      <h3>SOU ENCARREGADO(A) DE EDUCAÇÃO</h3>
      <button>SABER MAIS →</button>
    </div>
  </div>
</div>
<div class="t4e-cta-container desktop">
  <div class="cta-item cta-item__professor">
    <img class="img" src="../../../assets/card/cta-professor.png" alt="">
    <img class="img mobile" src="../../../assets/card/cta-mobile-professor.png" alt="">
    <h3>SOU PROFESSOR</h3>
    <button>SABER MAIS →</button>
  </div>
  <div class="cta-item cta-item__aluno">
    <img class="img" src="../../../assets/card/cta-aluno.png" alt="">
    <img class="img mobile" src="../../../assets/card/cta-mobile-aluno.png" alt="">
    <h3>SOU ALUNO</h3>
    <button>SABER MAIS →</button>
  </div>
  <div class="cta-item cta-item__ee">
    <img class="img" src="../../../assets/card/cta-ee.png" alt="">
    <img class="img mobile" src="../../../assets/card/cta-mobile-ee.png" alt="">
    <h3>SOU ENCARREGADO(A) DE EDUCAÇÃO</h3>
    <button>SABER MAIS →</button>
  </div>
</div>
