@import '../../../theme/index';

.t4e-section {
  margin-top: 120px;
  margin-bottom: 120px;

  &__title {
    @include font('title1');
    color: $color-text-blue;
    @include containerPadding();
    margin: 0 0 40px;
  }
}

.t4e-home-header {
  @include containerPadding();
  position: relative;
  height: 775px;
  background: url(../../../assets/pages/home/header-bg.png);
  //background-repeat: no-repeat;
  //background-size: cover;

  @include media-tablet {
    height: 100vh;
  }

  .content-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 110px;
    align-items: center;
    justify-items: center;
    padding-top: 110px;

    .text-wrapper {
      h1 {
        @include font('mainTitles');
        color: $color-text-blue;
        margin-bottom: 24px;
        margin-top: 0;
      }

      p {
        @include font('bodyTextLarge');
        color: $color-text-blue;
        margin-top: 0;
      }
    }

    .image-wrapper {
      img {
        max-width: 100%;
        height: auto;
      }
    }

    @include media-tablet {
      grid-template-columns: 1fr;
      padding-top: 0;

      .image-wrapper {
        display: none;
      }
    }
  }
}

.t4e-cta-container {
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  justify-items: center;
  @include containerPadding();
  margin-top: -140px;

  &.mobile {
    display: none;
    margin-top: 40px;
    padding: 0;

    .cta-item {
      margin: 0 auto;
    }
  }

  &.desktop {
    display: grid;
  }

  @include media-laptop {
    grid-column-gap: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: -220px;
  }

  @include media-tablet {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 24px;

    &.mobile {
      display: grid;
    }

    &.desktop {
      display: none;
    }
  }

  .cta-item {
    width: 314px;
    height: 290px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;



    @include media-desktop {
      width: 300px;
    }

    @include media-laptop {
      width: 245px;
    }

    @include media-tablet {
      width: 345px;
      height: 100px;
    }

    @include media-mobile-l {
      width: 300px;
      height: 100px;
    }

    .img {
      display: block;
      max-width: 100%;
      height: auto;

      &.mobile {
        display: none;
      }

      @include media-tablet {
        display: none;

        &.mobile {
          display: block;
        }
      }
    }

    h3 {
      position: absolute;
      bottom: 40px;
      @include font('title2');
      color: #FFF;
      max-width: 250px;
      margin: 0 0 8px 20px;

      @include media-laptop {
        font-size: 26px;
      }

    }

    button {
      position: absolute;
      bottom: 0;
      @include font('button');
      color: #FFF;
      margin: 0 0 20px 20px;
      align-self: flex-start;

      @include media-laptop {
        font-size: 12px;
      }
    }
  }
}

.t4e-section-testimonies {

  .testimonies-wrapper {
    ::ng-deep {
      .owl-stage {
        padding-bottom: 40px;
      }
    }

    .loading-container {
      display: flex;
      ngx-skeleton-loader {
        flex: 1;
        margin: 0 16px;
        box-shadow: 0px 1px 32px rgba(90, 152, 208, 0.2);
        padding: 32px 32px 20px;
      }

      @include media-tablet {
        flex-direction: column;
      }
    }

    .testimony-item {
      display: flex;
      flex-direction: column;
      //margin: 20px;
      max-width: 480px;
      background: #FFFFFF;
      box-shadow: 0px 1px 32px rgba(90, 152, 208, 0.2);
      border-radius: 20px;
      padding: 40px;
      min-height: 200px;

      h4 {
        @include font('bodyTextLargeHighlight');
        margin: 0;
        color: $color-text-blue;
      }

      h6 {
        @include font('bodyText');
        margin: 0 0 16px;
        color: $color-text-blue;
      }

      p {
        @include font('bodyText');
        color: $color-text-blue;
        margin: 0;
      }
    }
  }
}

.t4e-section-blog-articles {
  .blog-articles-wrapper {

    ::ng-deep {
      .owl-stage {
        padding-bottom: 40px;
      }
    }

    @include containerPadding();

    @include media-desktop-sm {
      padding: 0;
    }


    .blog-articles-container {

      &__desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;

        @include media-desktop-sm {
          display: none;
        }
      }

      &__mobile {
        display: none;
        @include media-desktop-sm {
          display: block;
        }
      }
    }


  }
}

.t4e-section-platforms {


  .platforms-wrapper {
    @include containerPadding();
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

    @include media-desktop-sm {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 250px);
      grid-gap: 16px;
      margin: 0 auto;

      .platform-item:nth-of-type(odd) {
        justify-self: right;
      }

      .platform-item:nth-of-type(even) {
        justify-self: left;
      }
    }

    @include media-tablet {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 250px);

      .platform-item:nth-of-type(odd), .platform-item:nth-of-type(even) {
        justify-self: center;
      }

    }

    .platform-item {
      width: 235px;
      height: 235px;

      box-shadow: 5px 20px 50px rgba(90, 152, 208, 0.2);
      border-radius: 20px;
      background: #FFF;

      &.empty {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          @include font('title2');
          color: $color-primary-blue;
          opacity: 0.4;
        }
      }

      img {
        margin: 40px;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
