<div class="t4e-home-header">
  <div class="content-container">
    <div class="text-wrapper">
      <h1>Tools4Edu</h1>
      <p>É uma plataforma de apoio à Comunidade Educativa (Professores, Alunos e Pais/EE) que pretende facilitar a compreensão e utilização de ferramentas digitais no processo de ensino, no enquadramento da Covid19. Temos como missão ajudar a assegurar as interações e relações entre professores e alunos que contribuem para o seu desenvolvimento e bem-estar.</p>
    </div>
    <div class="image-wrapper">
      <img src="../../../assets/Logo-big.png" alt="Tools4Edu Logo">
    </div>
  </div>
  <div class="t4e-cta-container mobile">
    <div class="cta-item cta-item__professor">
      <img class="img" src="../../../assets/card/cta-professor.png" alt="">
      <img class="img mobile" src="../../../assets/card/cta-mobile-professor.png" alt="">
      <h3>SOU PROFESSOR</h3>
      <button>SABER MAIS →</button>
    </div>
    <div class="cta-item cta-item__aluno">
      <img class="img" src="../../../assets/card/cta-aluno.png" alt="">
      <img class="img mobile" src="../../../assets/card/cta-mobile-aluno.png" alt="">
      <h3>SOU ALUNO</h3>
      <button>SABER MAIS →</button>
    </div>
    <div class="cta-item cta-item__ee">
      <img class="img" src="../../../assets/card/cta-ee.png" alt="">
      <img class="img mobile" src="../../../assets/card/cta-mobile-ee.png" alt="">
      <h3>SOU ENCARREGADO(A) DE EDUCAÇÃO</h3>
      <button>SABER MAIS →</button>
    </div>
  </div>
</div>
<div class="t4e-cta-container desktop">
  <div class="cta-item cta-item__professor">
    <img class="img" src="../../../assets/card/cta-professor.png" alt="">
    <img class="img mobile" src="../../../assets/card/cta-mobile-professor.png" alt="">
    <h3>SOU PROFESSOR</h3>
    <button>SABER MAIS →</button>
  </div>
  <div class="cta-item cta-item__aluno">
    <img class="img" src="../../../assets/card/cta-aluno.png" alt="">
    <img class="img mobile" src="../../../assets/card/cta-mobile-aluno.png" alt="">
    <h3>SOU ALUNO</h3>
    <button>SABER MAIS →</button>
  </div>
  <div class="cta-item cta-item__ee">
    <img class="img" src="../../../assets/card/cta-ee.png" alt="">
    <img class="img mobile" src="../../../assets/card/cta-mobile-ee.png" alt="">
    <h3>SOU ENCARREGADO(A) DE EDUCAÇÃO</h3>
    <button>SABER MAIS →</button>
  </div>
</div>
<section class="t4e-section t4e-section-testimonies">
  <h2 class="t4e-section__title">TESTEMUNHOS</h2>
  <div class="testimonies-wrapper">
    <owl-carousel-o *ngIf="!testimoniesLoading" [options]="testimoniesCarouselOptions">
      <ng-container *ngFor="let slide of testimonies">
        <ng-template carouselSlide>
          <div class="testimony-item">
            <h4>{{slide.author}}</h4>
            <h6>{{slide.occupation}}</h6>
            <p>{{slide.text}}</p>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    <div class="loading-container" *ngIf="testimoniesLoading">
      <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
    </div>
  </div>
</section>
<section class="t4e-section t4e-section-blog-articles">
  <h2 class="t4e-section__title">BLOG</h2>
  <div class="blog-articles-wrapper">
    <owl-carousel-o *ngIf="!blogArticlesLoading" [options]="blogCarouselOptions">
      <ng-container *ngFor="let slide of blogArticles">
        <ng-template carouselSlide>
          <div class="blog-article-item" [ngStyle]="{backgroundImage: 'url(' + slide.images[0] + ')'}">
            <div class="mask-overlay"></div>
            <div class="blog-article-item__content">
              <div class="text-wrapper">
                <h4>{{slide.title}} <span>{{slide.createdAt | date:'mediumDate'}}</span></h4>
              </div>
              <button>VER POST →</button>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    <div class="loading-container" *ngIf="blogArticlesLoading">
      <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
    </div>
  </div>
</section>
