<div class="t4e-home-header">
  <div class="content-container">
    <div class="text-wrapper">
      <h1>Tools4Edu</h1>
      <p>É uma plataforma de apoio à Comunidade Educativa (Professores, Alunos e Pais/EE) que pretende facilitar a compreensão e utilização de ferramentas digitais no processo de ensino, no enquadramento da Covid19. Temos como missão ajudar a assegurar as interações e relações entre professores e alunos que contribuem para o seu desenvolvimento e bem-estar.</p>
    </div>
    <div class="image-wrapper">
      <img src="../../../assets/Logo-big.png" alt="Tools4Edu Logo">
    </div>
    <div class="t4e-cta-container mobile">
      <div class="cta-item cta-item__professor" routerLink="/conteudo" [queryParams]="{stakeholder: '5e7cdd531c9d44000054f369'}">
        <img class="img" src="../../../assets/card/cta-professor.png" alt="">
        <img class="img mobile" src="../../../assets/card/cta-mobile-professor.png" alt="">
        <h3>SOU PROFESSOR</h3>
        <button>SABER MAIS →</button>
      </div>
      <div class="cta-item cta-item__aluno" routerLink="/conteudo" [queryParams]="{stakeholder: '5e7cdd031c9d44000054f368'}">
        <img class="img" src="../../../assets/card/cta-aluno.png" alt="">
        <img class="img mobile" src="../../../assets/card/cta-mobile-aluno.png" alt="">
        <h3>SOU ALUNO</h3>
        <button>SABER MAIS →</button>
      </div>
      <div class="cta-item cta-item__ee" routerLink="/conteudo" [queryParams]="{stakeholder: '5e7cdd721c9d44000054f36a'}">
        <img class="img" src="../../../assets/card/cta-ee.png" alt="">
        <img class="img mobile" src="../../../assets/card/cta-mobile-ee.png" alt="">
        <h3>SOU ENC. DE EDUCAÇÃO</h3>
        <button>SABER MAIS →</button>
      </div>
  </div>

  </div>
</div>
<div class="t4e-cta-container desktop">
  <div class="cta-item cta-item__professor" routerLink="/conteudo" [queryParams]="{stakeholder: '5e7cdd531c9d44000054f369'}">
    <img class="img" src="../../../assets/card/cta-professor.png" alt="">
    <img class="img mobile" src="../../../assets/card/cta-mobile-professor.png" alt="">
    <h3>SOU PROFESSOR</h3>
    <button>SABER MAIS →</button>
  </div>
  <div class="cta-item cta-item__aluno" routerLink="/conteudo" [queryParams]="{stakeholder: '5e7cdd031c9d44000054f368'}">
    <img class="img" src="../../../assets/card/cta-aluno.png" alt="">
    <img class="img mobile" src="../../../assets/card/cta-mobile-aluno.png" alt="">
    <h3>SOU ALUNO</h3>
    <button>SABER MAIS →</button>
  </div>
  <div class="cta-item cta-item__ee" routerLink="/conteudo" [queryParams]="{stakeholder: '5e7cdd721c9d44000054f36a'}">
    <img class="img" src="../../../assets/card/cta-ee.png" alt="">
    <img class="img mobile" src="../../../assets/card/cta-mobile-ee.png" alt="">
    <h3>SOU ENC. DE EDUCAÇÃO</h3>
    <button>SABER MAIS →</button>
  </div>
</div>
<section class="t4e-section t4e-section-testimonies">
  <h2 class="t4e-section__title">TESTEMUNHOS</h2>
  <div class="testimonies-wrapper">
    <owl-carousel-o *ngIf="!testimoniesLoading" [options]="testimoniesCarouselOptions">
      <ng-container *ngFor="let slide of testimonies">
        <ng-template carouselSlide>
          <div class="testimony-item">
            <h4>{{slide.author}}</h4>
            <h6>{{slide.occupation}}</h6>
            <p>{{slide.text}}</p>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    <div class="loading-container" *ngIf="testimoniesLoading">
      <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
      <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
    </div>
  </div>
</section>
<section class="t4e-section t4e-section-blog-articles">
  <h2 class="t4e-section__title">BLOG</h2>
  <div class="blog-articles-wrapper">
    <div class="blog-articles-container">
      <ng-container *ngIf="!blogArticlesLoading">
        <ng-container *ngFor="let article of blogArticles">
          <t4e-blog-article-card [cardData]="article"></t4e-blog-article-card>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>
<!--    <div class="blog-articles-container__mobile">-->
<!--      <owl-carousel-o *ngIf="!blogArticlesLoading" [options]="blogCarouselOptions">-->
<!--        <ng-container *ngFor="let article of blogArticles">-->
<!--          <ng-template carouselSlide>-->
<!--            <t4e-blog-article-card [cardData]="article"></t4e-blog-article-card>-->
<!--          </ng-template>-->
<!--        </ng-container>-->
<!--      </owl-carousel-o>-->
<!--    </div>-->
<!--    <div class="loading-container" *ngIf="blogArticlesLoading">-->
<!--      <ngx-skeleton-loader count="3"></ngx-skeleton-loader>-->
<!--      <ngx-skeleton-loader count="3"></ngx-skeleton-loader>-->
<!--      <ngx-skeleton-loader count="3"></ngx-skeleton-loader>-->
<!--    </div>-->
<!--  </div>-->

<section class="t4e-section t4e-section-platforms">
  <h2 class="t4e-section__title">PLATAFORMAS</h2>
  <div class="platforms-wrapper">
    <div class="platform-item" routerLink="/conteudo" [queryParams]="{provider: '5e7cdc4c1c9d44000054f367'}">
      <img src="../../../assets/pages/home/platforms-zoom.png" alt="Zoom">
    </div>
    <div class="platform-item" routerLink="/conteudo" [queryParams]="{provider: '5e8baf38d6c91771a843097e'}">
      <img src="../../../assets/pages/home/platforms-teams.png" alt="Teams">
    </div>
    <div class="platform-item">
      <img src="../../../assets/pages/home/platforms-gclassroom.png" alt="Google Classrooms">
    </div>
    <div class="platform-item">
      <img src="../../../assets/pages/home/platforms-webex.png" alt="Webex">
    </div>
  </div>
</section>
