<div class="drawer-opener" [ngStyle]="drawerOpened ? { display: 'none'} : { display: 'flex' }" [ngClass]="drawerOpened ? 'open' : ''" (click)="toggleDrawer()">
  <span class="hamburger"></span>
</div>

  <nav class="navbar">
    <a href="/" class="brand">
      <img src="../../../assets/Logo.png" alt="Tools4Edu Logo">
    </a>
    <ul class="navbar__nav-items">
      <li class="nav-item nav-item--home">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
      </li>
      <li class="nav-item nav-item--content">
        <a routerLink="/conteudo" routerLinkActive="active">Conteúdos</a>
      </li>
      <li class="nav-item nav-item--blog">
        <a routerLink="/blog" routerLinkActive="active">Blog</a>
      </li>
      <li class="nav-item nav-item--faqs">
        <a routerLink="/faqs" routerLinkActive="active">Ajuda</a>
      </li>
      <li class="nav-item nav-item--about">
        <a routerLink="/sobre" routerLinkActive="active">Sobre Nós</a>
      </li>
    </ul>
  </nav>

  <nav class="navbar navbar--mobile" [ngClass]="drawerOpened ? 'open' : ''">
    <div class="drawer-opener" [ngClass]="drawerOpened ? 'open' : ''" (click)="toggleDrawer()">
      <span class="hamburger"></span>
    </div>

    <a href="/" class="brand">
      <img src="../../../assets/Logo-mobile.png" alt="Tools4Edu Logo">
    </a>
    <ul class="navbar__nav-items navbar--mobile__nav-items">
      <li class="nav-item nav-item--home">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
      </li>
      <li class="nav-item nav-item--content">
        <a routerLink="/conteudo" routerLinkActive="active">Conteúdos</a>
      </li>
      <li class="nav-item nav-item--blog">
        <a routerLink="/blog" routerLinkActive="active">Blog</a>
      </li>
      <li class="nav-item nav-item--faqs">
        <a routerLink="/faqs" routerLinkActive="active">Ajuda</a>
      </li>
      <li class="nav-item nav-item--about">
        <a routerLink="/sobre" routerLinkActive="active">Sobre Nós</a>
      </li>
    </ul>

  </nav>
