<footer>
  <div class="social-wrapper">
    <h4 class="social-wrapper__title">SEGUE-NOS AQUI</h4>
    <div class="social-wrapper__content">
      <a href="https://www.facebook.com/Tools4Edu/" class="social-link">Facebook</a>
      <a href="https://www.youtube.com/channel/UCt5YuMST4_FyTqaOxMdrDPw/?sub_confirmation=1" class="social-link">Youtube</a>
      <a href="https://www.instagram.com/tools4edu/?hl=pt" class="social-link">Instagram</a>
      <a href="https://www.linkedin.com/company/tools4edu/" class="social-link">LinkedIn</a>
    </div>
    <div class="social-wrapper__bottom">
      © 2020 Tools4Edu · A comunidade tecnológica combate a Covid19.
    </div>
  </div>
  <div class="infos-wrapper">
    <h4 class="infos-wrapper__title">MAIS INFOS</h4>
    <div class="infos-wrapper__content">
      <a routerLink="/privacidade" class="infos-link">Política de Privacidade</a>
      <a routerLink="/privacidade" class="infos-link">Cookies</a>
      <a href="mailto:juntar@tools4edu.com" class="infos-link">Junta-te a nós</a>
    </div>
    <div class="infos-wrapper__bottom">
      #Tools4Edu #tech4COVID19
    </div>
  </div>
</footer>
