<div [class]="'content-card ' + contentItem.type.toLowerCase()"
     [ngStyle]="{backgroundImage: getBackgroundImage(), order: contentItem.order}"
     [routerLink]="['/conteudo/' + contentItem.slug]"
>
  <div class="provider" *ngIf="contentItem.provider">
    <img [class]="'provider-img ' + contentItem.provider.code.toLowerCase()" [src]="'../../../assets/card/' + getProviderImage()" alt="">
  </div>
  <div class="overlay"></div>
  <div class="text-wrapper">
    <div class="text-wrapper__title">{{contentItem.title}}</div>
    <div class="text-wrapper__time" *ngIf="contentItem.videoTime">{{contentItem.videoTime}}min</div>
  </div>
  <div class="action">
    <span>{{contentItem.type === 'CONTENT-TUTORIAL-VIDEO' ? 'VER VÍDEO' : 'VER ARTIGO '}}</span>
    <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M14.3 15L20 8L14.3 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M20 8H1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </div>
</div>
