<t4e-page-header
  backgroundImage="assets/pages/about/header-bg.png"
  title="Sobre o Tools4Edu"
  description=""
></t4e-page-header>
<div class="t4e-about-page">
  <section class="t4e-about-page__text-content">
    <div class="column">
      <h1>A emergência que vivemos está a exigir de todos a adoção de novas formas de trabalho e interação entre as pessoas.</h1>
      <p>No ensino, o desafio é manter a escola a funcionar, mesmo com professores e alunos em casa. Permitindo que os jovens não só continuem a aprender, mas mantenham uma rotina que estruture e dê significado aos seus dias.</p>
      <p>Portugal tem professores com vontade de fazer e o sentido de missão de sempre. Tem encarregados de educação e estudantes conscientes da sua responsabilidade neste momento. E dispõe das ferramentas digitais, várias delas gratuitas, para garantir que o processo educativo pode continuar.</p>
      <p> Nem todos, no entanto, têm o mesmo à-vontade com a tecnologia. Dominar estas ferramentas, principalmente de um dia para o outro, pode trazer dificuldades tanto aos pais e estudantes – principalmente os mais novos – como aos professores.</p>
      <p>
        Daí a missão deste projeto: <strong>ajudar a que todos tiremos o máximo partido da tecnologia para recriar, mesmo à distância, uma experiência de ensino remoto produtiva, gratificante e motivadora para educandos e educadores.</strong>
      </p>
      <p>Concretamente, queremos ajudar professores, pais e alunos a usar as várias ferramentas gratuitas disponíveis.</p>
    </div>
    <div class="column">
      <p>Fizemos um inquérito nacional para identificar as necessidades e decidimos começar com a ferramenta Zoom. Já incluímos a ferramenta Teams e continuaremos a desenvolver conteúdos semelhantes para outras aplicações gratuitas.</p>
      <h1>Somos um grupo de profissionais que se reuniu de forma espontânea, no âmbito da plataforma Tech4Covid19.org, para ajudar a comunidade educativa nesta crise.</h1>
      <p> Não temos ligação a qualquer empresa ou plataforma tecnológica. Move-nos apenas a urgência de concretizar uma ideia que, num momento tão desafiador, será uma importante ajuda para professores, pais e estudantes.</p>
      <p>
        Somos a <strong>Ana</strong>,o <strong>António</strong>, o <strong>Bruno</strong>, a <strong>Catarina</strong>, a <strong>Cristina</strong>, o <strong>Fábio</strong>, o <strong>Fernando</strong>, o <strong>Jayme</strong>, o <strong>João</strong>, o <strong>José</strong>, a <strong>Júlia</strong>, a <strong>Layla</strong>, a <strong>Leihla</strong>, a <strong>Madalina</strong>, a <strong>Mara</strong>, a <strong>Maria João</strong>, a <strong>Marta</strong>, o <strong>Mirali</strong>,a <strong>Mónica</strong>, o <strong>Paulo</strong>, a <strong>Patrícia</strong>, o <strong>Pedro</strong>, o <strong>Rui</strong>, a <strong>Sofia</strong>, a <strong>Sónia</strong>, o <strong>Sérgio</strong>, a <strong>Stella</strong>, a <strong>Tânia</strong>, o <strong>Tiago</strong>, a <strong>Valesca</strong>, a <strong>Diana</strong>, a <strong>Graça</strong> e muitos outros que se mobilizaram para entregar,  <strong>em apenas 3 semanas</strong>, este trabalho à comunidade.
      </p>
    </div>
  </section>
  <section class="t4e-about-page__video-wrapper">
    <t4e-media-player
      [videoUrl]="'https://www.youtube.com/watch?v=Dv5gaU5NaAA'"
      [videoPoster]="'assets/pages/about/video-poster.png'"
    ></t4e-media-player>
  </section>
  <section class="t4e-about-page__tech4covid-wrapper">
    <div class="card">
      <div class="card__header">
        <img src="/assets/pages/about/tech4covid.png" alt="tech4COVID19">
      </div>
      <div class="card__content">
        <p>Dos grandes obstáculos nascem a força e a vontade de os superar - uma força maior que a soma das partes que desafia a criatividade, a disponibilidade e a solidariedade. Os portugueses, quando chamados a lutar por si e pelos seus, nunca desapontaram e, perante um novo inimigo comum, as soluções urgem e os esforços unem-se. É assim que nasce o movimento #tech4COVID19.</p>
        <p>Não somos mais B2B ou B2C, somos H2H - Human to Human.</p>
      </div>
    </div>
  </section>
</div>
