<t4e-page-header
  backgroundImage="assets/pages/privacy/header-bg.png"
  title="Política de Privacidade"
  description=""
></t4e-page-header>
<div class="t4e-privacy-page">
  <div class="column">
    <h1>Política de Privacidade, Proteção de Dados e Cookies</h1>
    <p>A Tools4Edu agradece a sua visita ao nosso website.
      Para nós é muito importante garantir a privacidade,
      segurança e proteção dos seus dados pessoais, tanto
      no processo de recolha como no tratamento dos mesmos.
    </p>
    <p>
      Neste sentido, criámos a presente política de privacidade e proteção de dados,
      com vista a explicar que informações são recolhidas pela Tools4Edu quando visita/utiliza
      o nosso website e de que forma estas informações são utilizadas.
    </p>
    <h1>Quem somos? </h1>
    <p>
      O Tech4Covid19 é um movimento que reúne pessoas e empresas
      ligadas ao setor tecnológico e que tem como missão desenvolver,
      de forma aberta e colaborativa, soluções para combater o impacto
      do novo coronavirus (Covid19) através da tecnologia.
    </p>
    <p>
      Nesse âmbito, surge a iniciativa Tools4Edu que tem como missão ajudar professores,
      pais e alunos a usar as várias ferramentas gratuitas disponíveis.

    </p>
    <p>
      Os seus dados pessoais serão tratados pela equipa voluntária do movimento Tech4Covid19
      responsável pela gestão da plataforma Tools4Edu.

    </p>
    <p>
      As pessoas singulares acima identificadas assumem a qualidade de Responsáveis Conjuntas
      pelo Tratamento dos seus dados pessoais,
      nos termos e de acordo com o disposto no Regulamento Geral sobre a Proteção de Dados – o Regulamento (EU) 2016/679 do Parlamento Europeu e do Conselho de 27 de abril de 2016 (“RGPD”).
    </p>
    <p>
      Dados pessoais são informações específicas sobre características pessoais ou factuais relacionadas com um indivíduo que pode ser identificado a partir desses dados. Isso inclui informações como o nome, morada, número de telefone e data de nascimento.
      As informações que não permitem a sua identificação ou que não podem ser diretamente ligadas à sua identidade não são consideradas dados pessoais.

    </p>
    <h1>
      Que dados pessoais são recolhidos e tratados?
    </h1>
    <p>
      Pode navegar no nosso website sem nos disponibilizar quaisquer dados pessoais.
    </p>
    <p>
      Quando inicia uma conversa no nosso chatbot, será perguntado o nome pelo qual quer ser tratado, o que poderá, ou não, identificá-lo.

    </p>
    <p>
      No caso de nos enviar um e-mail, recolhemos o seu endereço de correio eletrónico.

    </p>
    <p>
      Em ambos os casos, os dados serão eliminados assim que for solicitado o esclarecimento/resolvida a questão em causa,
      não mantendo a Tools4Edu qualquer registo ou base de dados pessoais de professores,
      alunos, pais ou encarregados de educação.
    </p>
    <h1>Para que fins utilizamos os seus dados pessoais e qual a respetiva base legal?</h1>
    <p>Porque é utilizador do nosso website e temos interesse legítimo
      em garantir a resposta a todas as solicitações/pedidos,
      tratamos os seus dados para efeitos de:
    </p>
    <ul>
      <li>a) Resposta às suas mensagens;</li>
      <li>b) Gestão e conclusão de tickets</li>

    </ul>
    <h1>Os meus dados pessoais serão partilhados com terceiros?</h1>
    <p>Os seus dados pessoais poderão ser partilhados com terceiros,
      mais concretamente prestadores de serviços individuais ou similares,
      nomeadamente, para o alojamento do website e correio eletrónico.
      Apenas serão partilhados os dados pessoais necessários para a prestação
      dos serviços em causa. Os seus dados serão tratados
      apenas dentro do Espaço da União Europeia.
    </p>
    <h1>Quais são os seus direitos? </h1>
    <p>
      Nos termos da legislação sobre proteção de dados pessoais,
      garantimos-lhe o direito de acesso, obtenção de cópia dos dados pessoais
      que a Tools4Edu disponha sobre si, atualização, retificação,
      eliminação, portabilidade e apagamento dos seus dados pessoais.
      Assiste-lhe ainda o direito de apresentar reclamações perante a Comissão Nacional de Proteção de Dados (CNPD).
    </p>
    <p>
      O exercício destes direitos deverá ser realizado através do seguinte endereço de correio eletrónico
      <a href="mailto:ajuda@tools4edu.com"><span style="font-weight: 700;">ajuda@tools4edu.com</span></a>
    </p>
  </div>
  <div class="column">

    <h1>Crianças</h1>
    <p>
      A Tools4Edu não recolhe dados pessoais de menores. Porém,
      nem sempre é possível à Tools4Edu determinar a idade
      das pessoas que enviam mensagens através do chatbot
      ou de correio eletrónico.
      Neste sentido, se um menor fornecer os seus dados sem consentimento dos seus responsáveis,
      solicitamos a estes que entrem em contacto com a Tools4Edu
      para que essas informações possam ser removidas e evitadas todas as comunicações futuras com o menor.
    </p>
    <h1>O que são cookies?</h1>
    <p>
      Cookies são pequenas etiquetas de software que são armazenadas no seu computador
      ou outros dispositivos que utiliza para aceder à internet, através do navegador (browser).
      Saiba mais sobre cookies em: <a href="https://allaboutcookies.org">allaboutcookies.org</a>.
    </p>
    <h1>Qual a finalidade dos cookies?</h1>
    <p>A utilização de cookies tem o objetivo de melhorar a experiência de navegação do utilizador, aumentando a rapidez e eficiência de resposta dos websites. Elimina a necessidade de introduzir repetidamente as mesmas informações e ajudam a determinar a utilidade, interesse e o número de utilizações. Cada cookie tem uma função e uma data de validade.
      A Tools4Edu não utilizará, sem consentimento prévio, dados armazenados em cookies nos casos em que tal seja exigido.
    </p>
    <h1>Que cookies são usados no website?</h1>
    <p>Este site utiliza cookies proprietários e de terceiros. Os cookies de terceiros diferem dos primeiros na medida em que são enviados para o dispositivo do utilizador, a partir de um equipamento ou domínio que não se encontra sob o controlo ou gestão direta da Tools4Edu.
    </p>
    <p>
      Os cookies podem ser classificados da seguinte forma:<br><br>
      <strong>Cookies essenciais</strong> - São fundamentais para aceder a áreas específicas do website. Permitem a navegação no website e a utilização das suas aplicações, tal como o acesso a áreas seguras através de login. Estes cookies não recolhem informação sobre o utilizador que possa ser utilizada para fins de marketing ou para identificar as visitas do utilizador a websites. Sem eles, certos serviços não podem ser prestados.
    </p>
    <p>
      <strong>Cookies analíticos</strong>  - Permitem analisar a forma como os utilizadores usam o website, permitindo destacar artigos ou serviços que podem ser do seu interesse, monitorizar o desempenho do mesmo, conhecendo quais as páginas mais populares. Estes cookies são utilizados apenas para efeitos de criação e análise estatística.

    </p>
    <p>
      <strong> Cookies funcionais</strong> - Permitem relembrar as preferências do utilizador relativamente à navegação no website. Assim, o utilizador não necessita de o reconfigurar e personalizar cada vez que o visita.
    </p>
    <h1>Ligações a sites de terceiros
    </h1>
    <p>
      A Tools4Edu possui ligações para outros sites, os quais,
      a nosso ver, podem conter informações / ferramentas úteis para os nossos visitantes.
      A nossa política de privacidade não é aplicada a sites de terceiros, pelo que,
      caso visite outro site a partir do nosso deverá ler a política de privacidade do mesmo.

    </p>
    <p>
      Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.
    </p>
    <h1>
      Alterações a esta política
    </h1>
    <p>A equipa da Tools4Edu reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de forma a estar sempre atualizado.</p>
  </div>
</div>
