@import "theme/index";

.search-wrapper {
  &__content {
    position: relative;
    display: flex;
    input {
      width: 100%;
      border: 1px solid rgba(90, 152, 208, 0.25);
      border-radius: 28px;
      padding: 16px 64px 16px 16px;
      @include font('bodyText');

      &:focus {
        outline: none;
      }
    }
    i {
      position: absolute;
      top: 50%;
      right: 6px;
      background: $color-primary-blue;
      box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
      border-radius: 50%;
      padding: 22px;
      transform: translateY(-50%);
      cursor: pointer;

      &.search-btn {
        svg {
          top: 50%;
          left: 49%;
          transform: translate(-41%, -53%);
        }

      }

      &.close-btn {
        svg {
          top: 50%;
          left: 49%;
          transform: translate(-46%, -53%) rotate(45deg);
        }
      }

      svg {
        position: absolute;
      }

    }

    .validation-text {
      display: none;
      position: absolute;
      bottom: -35px;
      left: 16px;
      margin-right: 16px;
      @include font('footer');
      color: $color-red;
    }

    &.show-validation {
      input {
        border-color: $color-red;
      }

      .validation-text {
        display: block;
      }
    }
  }
}
